<div class="container">
  <div>
    <div class="icon">
      <mat-icon [inline]="true" class="color-success">check_circle</mat-icon>
    </div>
    <h2>{{modalData.confirm}}</h2>
    <p>{{modalData.message}}</p>
  </div>
  <div mat-dialog-actions class="btn">
    <button mat-dialog-close mat-stroked-button color="primary">{{modalData.backBtn}}</button>
    <button mat-dialog-close mat-raised-button color="primary">{{modalData.cancelBtn}}</button>
  </div>
</div>
