<div class="container">
  <div class="icon">
    <mat-icon [inline]="true" class="color-success">check_circle</mat-icon>
  </div>
  <div>
    <h2>{{modalData.state}}</h2>
    <p>{{modalData.message}}</p>
  </div>
  <div class="btn">
    <button mat-raised-button color="primary" mat-dialog-close="">Done</button>
  </div>
</div>
