/* You can add global styles to this file, and also import other style files */
/* Required for bootstrap*/
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps"; // *Newly added!*
@import "bootstrap/scss/mixins";
// Optional
@import "bootstrap/scss/grid";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
