@mixin frame($name) {
  .#{$name} {
    padding: 0 10px;
    margin: 0 auto;
    width: 80%;
    border: 2px dashed rgba(197, 197, 197, 0.608);
    background-color: rgba(230, 230, 230, 0.64);
    border-radius: 5px;
  }
}
.caption,
.icon,
.coms {
  text-align: center;
}

.buffer{
  display: flex;
  justify-content: space-between;
}

.loading{
  width: 60%;
  margin: 0 auto;
}

@include frame("frame");

a {
  text-decoration: none;
  color: aqua;
}
a:hover {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}
.file-type,
.file-size {
  color: rgb(175, 175, 175);
  text-align: center;
  font-size: 0.75rem;
}
.icon {
  font-size: 30px;
  margin: 10px 0;
}
.progress-bar {
  display: block;
  margin: 15px;
}
.bar {
  display: flex;
}
.del-file {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.done {
  text-align: center;
}
.fileOver {
  border-color: rgb(0, 255, 251);
  border-style: solid;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
