<div class="container">
  <div class="input">
    <p for="fileDropRef">Upload dokumen pendukung (Optional)</p>
    <div class="frame" draggable="true" (drop)="onDragSuccess($event)" (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)" [class.fileOver]="isHighlight" [class.isUploading]="isUploading">
      <div *ngIf="!currentFileUpload && !isFileTypeValid && !isFileSizeValid">
        <input type="file" #fileDropRef id="fileDropRef" (change)="upload($event)" hidden />
        <div class="icon">
          <mat-icon [inline]="true">description</mat-icon>
        </div>
        <div class="caption">
          <h4>
            <span>
              <a (click)="fileDropRef.click()">Click here</a>
            </span>
            or drag and drop your file to upload
          </h4>
        </div>
      </div>
      <div *ngIf="isFileSizeValid || isFileTypeValid">
        <div *ngIf="!isFileTypeValid">
          <div class="icon">
            <mat-icon [inline]="true">report_off</mat-icon>
          </div>
          <div class="caption">
            <h4>
              file type
            </h4>
          </div>
        </div>
        <div *ngIf="!isFileSizeValid">
          <div class="icon">
            <mat-icon [inline]="true">report_off</mat-icon>
          </div>
          <div class="caption">
            <h4>
              file Size
            </h4>
          </div>
        </div>
      </div>
      <div class="progress-bar">
        <ng-container *ngIf="isFileTypeValid && isFileSizeValid && percentageSub | async as pct">
          <div class="upload">
            <div class="icon">
              <mat-icon [inline]="true">insert_drive_file</mat-icon>
            </div>
            <div class="coms">
              <p *ngIf="pct!==100">Uploading ...</p>
              <p *ngIf="pct===100">File is successfully uploaded</p>
            </div>
            <div class="loading">
              <div class="buffer">
                <p>
                  {{currentFileUpload?.file.name}} | {{ formatBytes(currentFileUpload?.file.size,0) }}
                </p>
                <button type="button">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <div class="bar">
                <mat-progress-bar color="accent" [value]="pct"></mat-progress-bar>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!currentFileUpload && !isFileTypeValid && !isFileSizeValid">
        <div class="file-type">
          <p>
            Supported Document: .pdf,.jpg,.jpeg,.png,.tiff.
          </p>
        </div>
        <div class="file-size">
          <p>
            Max File Size: 5 MB
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
