<div class="container">
  <div class="dialog-title" mat-dialog-title>
    <h4>Additional Information</h4>
    <button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="infoForm" (ngSubmit)="submit(infoForm.value)">
      <div class="input">
        <p for="reason">Reason</p>
        <textarea name="" id="reason" cols="112" rows="6" formControlName="info" (ngModelChange)="myChange($event)"
          maxlength="200"></textarea>
        <div class="small">
          <small>{{remainingText? remainingText : '200'}}/200 characters remaining</small>
        </div>
      </div>
      <bni-dnd (selectedFile)="submitUserFile($event)" (dragFile)="onDragSuccess($event)"
        [currentFileUpload]="currentFileUpload" [percentageSub]="percentageSub" [isFileSizeValid]="isFileSizeValid"
        [isFileTypeValid]="isFileTypeValid" [isError]="isError"></bni-dnd>
      <div mat-dialog-actions class=" submit">
        <button type="submit" mat-raised-button color="primary" [disabled]="!currentFileUpload">
          <span *ngIf="!isLoading">Submit for Approval</span>
          <mat-spinner color="warn" diameter="24" *ngIf="isLoading"></mat-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
