.small{
  text-align: end;
}
.dialog-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container{
  padding: 0;
  margin: 0;
}
.submit{
  justify-content: flex-end;
}
.uploaded{
  padding: 50px 0;
  text-align: center;
}
.done{
  justify-content: center;
}
.isUploading{
  border-style: solid ;
}
